/********************************
 * Wallpaper Website
 * Produced by Meng Kun Web Lab (http://lab.mkblog.cn)
 * ver 1.1
 * !! Unauthorized copying is prohibited !!
 ********************************/
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style-type: none;
}
/* Custom Scrollbar */
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(192, 199, 210);
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#9f9f9f;
}
::-webkit-scrollbar-arrow {
    color: #F00;
    background: #0F0;
}

body {
    overflow-y: scroll;
    height: 100%;
    background-color: #eee;
    background-size: cover;
}

/* Page Navigation Bar */
.banner {
    position: fixed;
    z-index: 99999;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    background-color: #fff;
    opacity: 0.77;
    transition: all 0.25s ease;
}

.banner:hover {
    opacity: 0.99;
}

/* Website Title */
.banner .webTitle {
    font-size: 28px;
    font-weight: normal;
    display: inline-block;
    padding: 0 10px;
    color: #56AB78;
    cursor: pointer;
}

/* For Chrome only */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .banner .webTitle {
        background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.85, #ff2), color-stop(1, #f22));
        color: transparent;
        -webkit-background-clip: text;
    }
}

#banner {
    float: right;
}

#banner a {
    text-decoration: none;
    color: #000;
}

#banner li {
    height: 100%;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    font-size: 15px;
}

#banner li:hover, #banner li:hover a {
    color: #666;
}

/* Wallpaper Categories */
.tags:hover #tags {
    display: block;
}

#tags {
    z-index: 9999;
    display: none;
    position: absolute;
    width: 210px;
    line-height: 35px;
    background-color: #fff;
    border-top: 2px solid #9EAFFF;
    font-size: 14px;
}

#tags li {
    width: 90px;
    float: left;
    padding: 0 0 0 15px;
    color: #000;
}

#tags li:hover {
    background-color: #eee;
}

/* Main Page Section */
.container {
    padding-top: 50px;
    position: relative;
    width: 100%;
    height: 100%;
}

body[class *=viewing-page] .container {
    padding-top: 0;
}

#walBox {
    height: 100%;
}

/* Jigsaw Layout */
.jigsaw .item {
    float: left;
    position: relative;
}

.jigsaw img {
    width: 100%;
    height: 100%;
}

/* Quarter Width */
.jigsaw .quater {
    width: 25%;
    display: inline-block;
    background: #999;
}

/* Half Width */
.jigsaw .half {
    width: 50%;
    display: inline-block;
    background: #EEE;
}

/* Each Image Box */
.oneImg {
    position: relative;
    overflow: hidden;
    transition: all 0.25s ease;
}

.oneImg:hover {
    z-index: 22;
    box-shadow: 0 0 20px #000;
}

.oneImg:hover .down {
    left: 0;
    display: inline-block;
}

/* Load More */
#loadmore {
    text-align: center;
    line-height: 40px;
    display: none;
    color: #666;
}

/* Bing Paging */
#walBox .section {
    background-size: cover;
    color: #fff;
    position: relative;
}

#walBox .note {
    font-size: 14px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    text-shadow: 0 0 5px #000;
    color: #fff;
}

/* Right Page Indicator Dots */
.onepage-pagination {
    top: 100px !important;
}

/* Right Side Tool Ball */
#toolBall {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-position: center;
    background-size: 20px 20px;
    opacity: 0.77;
    transition: all 0.25s ease;
}

#toolBall:hover {
    opacity: 0.98;
}

/* Download Icon for Bing Images */
.downBing {
    background: #fff url(data:image/png;base64,...==) no-repeat;
}

/* Top Icon for Return to Top */
.uptoTop {
    background: #666 url(data:image/png;base64,...==) no-repeat;
}

/* Download Box */
.down {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    padding: 10px;
    line-height: 22px;
    left: -130px;
    transition: all 0.25s ease;
    overflow-y: auto;
}

.down li {
    background: url(data:image/png;base64,...==) no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
}

.down a {
    color: #fff;
    text-decoration: none;
}

.down a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Daily English Text */
.ciba-eng {
    cursor: pointer;
}

.ciba-eng:hover {
    text-decoration: underline;
}

/* Daily English Like */
.ciba-love {
    user-select: none;
    cursor: pointer;
}

.blur {
    filter: blur(3px);
}

/* Fullscreen Image */
#full-img {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999999;
}
